extends layout
block content
 style.
  body
  {
   background-color:#FFE4B5;
   }
   #mainbody
  {
    position:relative;
    left:94px;
    width:1100px;
    font-size:18px;
    height: 405px;
  }
 h1(style = "text-align:center") About Us:
 br
 br
 br
 #mainbody
  p The aim of the original IMAP was to aid music appreciation and it was developed using a participatory design approach with adult cochlear implant (CI) users from the University of Southampton Auditory Implant Service and members of the UK National Cochlear Implant Users Association.
  p CIs can enable severely or profoundly deaf people to perceive sounds and understand speech. However, current devices are very poor at conveying pitch information and therefore, although many CI express a desire to hear music again, many are dissatisfied with the way music sounds through their implant.
  p This new version aims to modernise the application using web technologies. The main difference between the old and new versions is that the new version is all encompassing of activities, sessions and self tests compared to the old version where it was required to download a desktop application  whilst using the web side of the application too.
  h2 Contact:
  p If you would like to contact us about the project or future work please contact <a href="mailto:maheshb207@gmail.com">Maheshwar Bhagirathy</a> or <a href="mailto:mjw@ecs.soton.ac.uk"> Mark Weal</a>