extends layout
block content
 style.
  body
  {
   background-color:#FFE4B5;
  }
  #mainbody
  {
   height:405px;
   position:relative; 
   left:50px;
   font-size:18px;
  }
 
 h1(style="text-align:center") Acknowledgements:
 br
 br
 #mainbody
  h3 Musicians:
  li
   b Sir Cliff Richard for the "We Don't Talk Anymore" song
  li 
   b Don Giovvani for the "Mi Tradi" song 
  h3 Others:
  li
   b Mark Weal for supervising this project 
  li 
   b The IMAP team for making a few resources available for use on the old desktop app, which were used in the development of this application
  