extends layout
meta(name='viewport', content='width=device-width, initial-scale=1.0')
link(rel='stylesheet', href='css/bootstrap.css')
link(rel='stylesheet', href='css/bootstrap-responsive.css')
block content
 style.
  body
  {
   background-color:#FFE4B5;
   }
  a.btn.btn-primary
  {
   background-color:#4682B4;
  }
  #navpanediv
  {
    height:825;
    font-size: 6vw;
  }
  @media only screen and (max-width: 600px) 
  {
    #navpanediv
    {
     height:1925;
    }
    #header1
    {
      position:relative;top:0; left: 500;
    }
    #header2
    {
      position:relative; top:-700; left: 500;
    }
    #header3
    {
      position:relative;top:0; left: 500;
    }
    #card1
    {
      width:200px;border:black;position:relative;top:18;left:-10;bottom-margin: 10px;
    }
    #card2
    {
      width:200px;border:black;position:relative;top:250;left:-620;
    }
    #card3
    {
      width:200px;border:black;position:relative;top:178;left:-10;
    }
    #card4
    {
      width:200px;border:black;position:relative;top:359;left:-615;
    }
    #card5
    {
      width:200px;border:black;position:relative;top:300;left:0;
    }

    #card6
    {
      width:200px;border:black;position:relative;top:470;left:-618;
    }
    #header
    {
      position:relative;top: 70;left:30;
    }

  }

 h1(id="header" style='text-align:center') Activities
  br 
  br
 #navpanediv
  h3(id="header1" style="text-align:center;") Looper Activities
  .card1(style='width:400px;border:black;position:relative;top:18;left:150;bottom-margin: 10px;')
   .card-body(id="card1")
    h3.card-title Looper - Environmental Sounds
    p.card-text(style="font-size:16px;") Looper enables for the creation of rhythmic patterns through the use of everyday sounds. This looper activity focuses on environmental sounds such as a car horn or the sound of a spoon.  
    a.btn.btn-primary(href='http://localhost:3000/activities/looper') Try Looper - Environmental!
  .card2(style='width:400px;border:black;position:relative;top:-177;left:760;')
   .card-body(id="card2")
    h3.card-title Looper - Instrumental Sounds
    p.card-text(style="font-size:16px;") Looper enables for the creation of rhythmic patterns through the use of everyday sounds. This looper activity focuses on instrumental sounds such as a guitar chords and piano notes. 
    a.btn.btn-primary(href='http://localhost:3000/activities/looperinstrumental') Try Looper - Instrumental!
  h3(id="header2" style="text-align:center;position:relative;top:-140;") Mixer Activities
  .card( id="card3" style='width:400px;border:black;position:relative;top:-111;left:150;')
   .card-body(id="card3")
    h3.card-title Mixer - Cliff Richard
    p.card-text(style="font-size:16px;") Mixer caters for experimentation with instruments using original recordings. This is an activity, especially for the Cliff Richard lovers! 
    a.btn.btn-primary(href='http://localhost:3000/activities/mixer') Try Mixer - Cliff Richard!
  .card( id="card4" style='width:400px;border:black;position:relative;top:-279;left:760;')
   .card-body(id="card4")
    h3.card-title Mixer - Mi Tradi
    p.card-text(style="font-size:16px;") Mixer caters for experimentation with instruments using original recordings. Another classic in "Mi Tradi" is used in this activity. 
    a.btn.btn-primary(href='http://localhost:3000/activities/mixermitradi') Try Mixer - Mi Tradi!
  h3(id="header3" style="text-align:center;position:relative;top:-240;") Soundtracks Activities
  .card(id="card5" style='width:400px;border:black;position:relative;top:-200;left:150;')
   .card-body(id="card5")
    h3.card-title Soundtracks
    p.card-text(style="font-size:16px;") Soundtracks offers the opportunity to explore the contribution of soundtracks to film
    a.btn.btn-primary(href='http://localhost:3000/activities/soundtracks') Try Soundtracks!
  .card(id="card6" style='width:400px;border:black;position:relative;top:-347;left:770;')
   .card-body(id="card6")
    h3.card-title Soundtracks - Sound effects
    p.card-text(style="font-size:16px;") This activity builds on from the Soundtracks activity through the addition of sound effects!
    a.btn.btn-primary(href='http://localhost:3000/activities/soundtracksfoley') Try Soundtracks - Sound Effects!





