extends layout
block content
 style.
  body
  {
   background-color:#FFE4B5;
  }
  p 
  {
  	font-size: 16px;
  }
  #mainbody
  {
  	position:relative;
  	left:70px;
  	width:1100px;
  }
  #accessib
  {
  	border-bottom: dotted;
  }
  #listening
  {
  	border-bottom: dotted;
  }
  #activityselftests
  {
  	border-bottom: dotted;
  }
 #mainbody
  #accessib
   h2(style = "text-align:center") Accessibility Help:
   br
   p(style = "text-align:center") All videos on this website contain subtitles and all audio and video files on the website enable an increase and decrease of volume and playback speed. 
   p(style = "text-align:center") Links to other pages are located at the top of every web page.
  #listening
   h2(style = "text-align:center") Listening Options:
   p
    b TV/HiFi cable (direct input):
    br
    li If you have a TV/HiFi cable for your cochlear implant sound processor, this is probably the best way to listen to sounds on your computer. If you do not have a TV/HiFi cable for your processor or would like more information about how to safely connect your processor to mains powered devices like a computer, contact your local cochlear implant clinic.
    br
    br
    b  Headphones:
    br
    li Large headphones that fit over the ear may be more comfortable and may fit better over the microphones of your processor than small headphones. However, headphones do not work well with hearing aids. If you wear a hearing aid, you may prefer to switch it off or to listen using loudspeakers instead of headphones.
    br
    br
    b Loudspeakers:
    br
    li If you listen to sounds on your computer using loudspeakers, try to make sure that there are no other sounds or noises in the room that could make listening more difficult.
    br
    br
    b Volume:
    br
    li The IMAP apps allow you to adjust the volume of various instruments and tracks. Adjust the volume so that it is not too quiet and not too loud. If the level is shown by coloured level meters, make sure these are in the green or yellow regions. If they go red, the sound may become distorted. You may also be able to adjust the volume of your computer soundcard and your loudspeakers (if you are using these).
  #activityselftests
   h2(style = "text-align:center") Activity and Self Tests Help:
   br
   p(style = "text-align:center")
    | Help and Information related to activities and self tests can be found on the "Support" pages for each activity. 

  h2(style = "text-align:center")  FAQ Answers:
  br
  h4(style = "text-align:center") How do I use the website?
  p(style = "text-align:center") The website allows you to view activities through the <a href="http://localhost:3000/activities">Activities</a> page, self tests through the <a href="http://localhost:3000/selftests">Self Tests</a>  page and support is available through clicking on each activity on the activities page.
  h4(style = "text-align:center") How do I view a IMAP activity?
  p(style = "text-align:center") To view an IMAP activity, click on the "Activities" page on the top navigation bar that resides on every page of this website.
  h4(style = "text-align:center") How do I contact you? 
  p(style = "text-align:center") Please contact us using the <a href="http://localhost:3000/aboutus">About Us</a> page
  br
  br

