extends layout
block content
  style.  
   body
   {
    background-color:#FFE4B5;
   }
   footer
   {
     position:relative;
     bottom:-70;
   }
   #mainbody
   {
    height:410;
   }
  
  #mainbody
   h1(style='text-align: center;') Welcome to More from Music 2.
   br
   h3(style='text-align: center;') This web application is a prototype of a new version of More from Music. It encompasses 
   h3(style='text-align: center;') More from Music content in a more modern fashion through the web. 
   h3(style='text-align:center;') Let's get started!
   br
   br 
   #navpanediv
   .card(style='width:400px;border:black;position:relative;top:0;left:150;bottom-margin: 10px;')
    .card-body
     h3.card-title Activities
     p.card-text(style="font-size:16px;") Lists all the activities in this application ranging from looping activities to mixing ones.
     a.btn.btn-primary(href='http://localhost:3000/activities') Open Activities!
   .card(style='width:400px;border:black;position:relative;top:-144;left:820;')
    .card-body
     h3.card-title Self Tests
     p.card-text(style="font-size:16px;") Lists all Self tests undertaken after playing around with the activities.  
     a.btn.btn-primary(href='http://localhost:3000/selftests') Open Self Tests!
