html
  style.
   body{
   font-size: 6px;
   background-color: #f8f6f0;
   }
   .container::after {
    content: "";
    clear: both;
    display: table;
   }
   .column {
    float: left;
    width: 25%;
    padding: 10px; 
   }
   nav.navbar.navbar-default 
   {
      background-color:#FFE4B5;

   }
   ul.nav.navbar-nav.navbar-right
   {
   text-align: left;
   background-color:#FFE4B5;
   }
   ul.dropdown-menu
   {
   background-color:#d9d9d9;
   }
   footer {
   position: relative;
   height: 150px;
   width: 100%;
   background-color:black;
   }

   .question{
   font-size: 30px;
   margin-bottom: 10px;
   }
   .answers {
   margin-bottom: 20px;
   text-align: left;
   display: inline-block;
   } 
   .answers label{
   display: block;
   margin-bottom: 10px;
   }
   button{
   font-family: 'Comic Sans', sans-serif;
   font-size: 22px;
   background-color:#4682B4;
   color: white;
   border: 0px;
   border-radius: 3px;
   padding: 20px;
   cursor: pointer;
   margin-bottom: 20px;
   }
   button:hover{
   background-color: #38a;
   }
   .slide{
   position: absolute;
   left: 0px;
   top: 0px;
   width: 100%;
   z-index: 1;
   opacity: 0;
   transition: opacity 0.5s;
   }
   .active-slide{
   opacity: 1;
   z-index: 2;
   }
   .quiz-container{
   position: relative;
   height: 200px;
   margin-top: 40px;
   }
   .audioss{
   position: relative;
   height: 200px;
   margin-top: 40px;
   }
   #quizcontainerQuestion{
   font-size: 30px;
   margin-bottom: 10px;
   }
  head
   title= title
   link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
   script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
   script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  body
    nav.navbar.navbar-default 
      .container-fluid
        .navbar-header
          a.navbar-brand(href='/') <b> More from Music 2    </b>     
        ul.nav.navbar-nav.navbar-right
          li
           a(href='http://localhost:3000/') Home
          li
            a(data-toggle='dropdown', href='http://localhost:3000/activities') Activities
             span.caret
             ul.dropdown-menu
              li
               a(href='http://localhost:3000/activities') All Activities
              li
               a(href='http://localhost:3000/activities/looper') Looper Environmental
              li
               a(href='http://localhost:3000/activities/looperinstrumental') Looper Instrumental
              li
               a(href='http://localhost:3000/activities/mixer') Mixer - Cliff Richard
              li
               a(href='http://localhost:3000/activities/mixermitradi') Mixer - Mi Tradi
              li
               a(href='http://localhost:3000/activities/soundtracks') Soundtracks 
              li
               a(href='http://localhost:3000/activities/soundtracksfoley') Soundtracks - Sound Effects
          li
            a(data-toggle='dropdown', href='http://localhost:3000/selftests') Self Tests
             span.caret
             ul.dropdown-menu
              li
               a(href='http://localhost:3000/selftests') All Self Tests
              li
               a(href='http://localhost:3000/selftests/rhythmtest') Rhythm test
              li
               a(href='http://localhost:3000/selftests/instrumentrecognitiontest') Instrument Recognition Test
              li
               a(href='http://localhost:3000/selftests/instrumentrecognitiontestsoundtracks') Instrument Recognition Test - Soundtracks
 
          li
            a(href='http://localhost:3000/help') Help 

    block content
  footer#footer.section.section-grey
    .footercontainer
      .column
        .footercontainer
      .column(style="position:relative; left:150")
        .footer
         br
         br
         br
         br
         br
         a(href='http://localhost:3000/aboutus', style="color:white;") About Us 
      .column(style="position:relative; left:80;color:white;")
        .footer
         br
         br
         br
         br
         br
         a(href='http://localhost:3000/acknowledgements', style="color:white;") Acknowledgements 
