extends layout

block content
  style.
   body
   {
    background-color:#FFE4B5;
   }
   button
   {
   	color:white;
   }
   p
   {
    font-size: 16px;
   }
  h1(style="text-align:center") Looper Support
  link(href='views/css/styles.css', rel='stylesheet')
  script(src='//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/2.0.6/wavesurfer.min.js')

  p &nbsp In this session you will be introduced to the "Looper" app and at the end of the session you will be tested on your ability to distinguish between different rhythms!

  h2(style="text-align:center;") Session learning objectives:
  p &nbsp The activities in this session will give you the opportunity to:

  ul 
   li Experiment with rhythm 
   li learn how to loop and layer short phrases of music, Looper- Instrumental will allow you to do this with music instrumental and the Looper-Environmental will allow you to do this with environmental sounds including car horns etc.
  h2(style="text-align:center;") About Looper:
  p &nbsp If you have a cochlear implant it can sometimes be off-putting listening to music because of the pressure of having to relearn  and differentiate the sounds of musical instruments, which can be difficult.
  p &nbsp The purpose of the Looper is to demonstrate that you don't need to be able to tell the difference between a viola and a violin, or even a banjo from a bassoon; everyone has the potential to make great-sounding music from rhythmic patterns of everyday sounds.

  h2(style="text-align:center;") 1) Looper Activities:

  p &nbsp When you first open the activities, start by:

  ul
   li listening to the pre-sets by clicking on the Play button. 
   li trying out the different sounds, muting the sounds and changing the speed of playback – how does changing these parameters affect the music?
  button(onclick="location.href='http://localhost:3000/activities/looper'", type='button' style="position:relative;left:400;") Looper - Environmental
  button(onclick="location.href='http://localhost:3000/activities/looperinstrumental'", type='button' style="position:relative;left:480;") Looper - Instrumental

  h2(style="text-align:center;") 2) Test yourself - Rhythm:
  p &nbsp Finally, have a go at the rhythm test below. Don't worry if you find this quite tricky, as you will almost certainly improve over the course of the IMAP! 


  button(onclick="location.href='http://localhost:3000/selftests/rhythmtest'", type='button' style="position:relative;left:570;") Rhythm test
  br
  br
  br
  br



