extends layout
block content
  style.
   body
   {
    background-color:#FFE4B5;
   }
   #wholebody
   {
    width:auto;
    height:710px;
   }
  h1(style="text-align:center;") Mixer - Mi Tradi
  button(onclick="location.href='http://localhost:3000/activities/mixer/mixersessionsupport'", type='button' style="color:white;position:absolute; top:70; left:25;") Mixer Support
  #wholebody
   #videoandcontrolsdiv(style="position:relative;top:0;")
    #videodiv(style="text-align:center;")
     video(id= 'vid', width='420', height='340', src='http://localhost:3000/music?id=mitradi.mp4',type='video/mp4', controls muted)
    #maincontrols(style="float:right;position:relative;top:-320;right:90;")
     p Volume
     input#vol-control(type='range', min='0', max='100', step='1', oninput='SetVolume(this.value)', onchange='SetVolume(this.value)', style="width:100px;")
     br
     p Playback Speed
     input#speed-control(type='range', min='0', max='2', step='0.1', oninput='SetSpeed(this.value)', onchange='SetSpeed(this.value)', style="width:100px;")
     br
     //p Pitch
     //input#pitch-control(type='range', min='-1200', max='1200', step='200', oninput='SetPitch(this.value)', onchange='SetPitch(this.value)', style="display:inline;width:100px")
     //br
     //br
     p Loop music between (in secs):
     label(for="LoopStart", style="font-weight:normal;") Loop start time: 
     &nbsp
     input(id="LoopStart", type='text', name='firstname', value='0', style="width:40;position:relative;left:2px;")
     br
     label(for="LoopEnd", style="font-weight:normal") Loop end time: 
     &nbsp
     &nbsp
     input(id="LoopEnd",type='text', name='lastname', value='248', style="width:40;")
     br
     br
     input(type='button', value='Reset Loop' onclick="resetLoop()")

   #soundsdiv(style="position:relative;top:70;left:80;")
    #leadvocaldiv(style="float:left;padding:10px;")
     p Play Lead Vocal Only 
     img(id="LeadVocal",name="LeadVocal" src='http://localhost:3000/images?id=mvocal.png', alt='LeadVocal', width='50', height='70', style="float:left;")
     button(id="PlayImage" onclick="changePlayImage();" style="background-color:#FFE4B5;" disabled)
      img(id="PlayImg", src='http://localhost:3000/images?id=play.jpg', alt='Play/Pause Button', width='50', height='50', style="cursor: pointer;float:left;")
     br
     label(for="vol7-control") Volume
      input#vol7-control(type='range', min='0', max='100', step='1', oninput='SetVolume7(this.value)', onchange='SetVolume7(this.value)', style="width:100px")

    #drop-down1div(style="float:left;padding:10px;")
     p Cello 
     img(id="Cellot",name="Cellot" src='http://localhost:3000/images?id=cellot.png', alt='Cellot', width='50', height='70', style="float:left;")
     button(id="Image1" onclick="changeImage1();" style="background-color:#FFE4B5;" disabled)
      img(id="imgClickAndChange", src='http://localhost:3000/images?id=play.jpg', alt='On Button', width='50', height='50', style="cursor: pointer;")
     br
     label(for="vol1-control") Volume
      input#vol1-control(type='range', min='0', max='100', step='1', oninput='SetVolume1(this.value)', onchange='SetVolume1(this.value)', style="width:100px")
      // Second drop down
    #drop-down2div(style="float:left;padding:10px;")
     p Viola
     img(id="Violat",name="Violat" src='http://localhost:3000/images?id=violat.png', alt='Violat', width='50', height='70', style="float:left;")
     button(id="Image2" onclick="changeImage2();" style="background-color:#FFE4B5;" disabled)
      img(id="imgClickAndChange2", src='http://localhost:3000/images?id=play.jpg', alt='On Button', width='50', height='50', style="cursor: pointer;")
     br
     label(for="vol2-control") Volume
      input#vol2-control(type='range', min='0', max='100', step='1', oninput='SetVolume2(this.value)', onchange='SetVolume2(this.value)', style="width:100px")

    #drop-down3div(style="float:left;padding:10px;")
     p Clarinet
     img(id="Clarinett",name="Clarinett" src='http://localhost:3000/images?id=clarinett.png', alt='Clarinett', width='50', height='70', style="float:left;")
     button( id="Image3" onclick="changeImage3();" style="background-color:#FFE4B5;" disabled)
      img(id="imgClickAndChange3", src='http://localhost:3000/images?id=play.jpg', alt='On Button', width='50', height='50', style="cursor: pointer;") 
     br
     label(for="vol3-control") Volume
      input#vol3-control(type='range', min='0', max='100', step='1', oninput='SetVolume3(this.value)', onchange='SetVolume3(this.value)', style="width:100px")
    #drop-down4div(style="float:left;padding:10px;")
     p Violin
     img(id="Violint",name="Violint" src='http://localhost:3000/images?id=violint.png', alt='Violint', width='50', height='70', style="float:left;")
     button(id="Image4" onclick="changeImage4();" style="background-color:#FFE4B5;" disabled)
      img(id="imgClickAndChange4", src='http://localhost:3000/images?id=play.jpg', alt='On Button', width='50', height='50', style="cursor: pointer;") 
     br
     label(for="vol4-control") Volume
      input#vol4-control(type='range', min='0', max='100', step='1', oninput='SetVolume4(this.value)', onchange='SetVolume4(this.value)', style="width:100px")
    #drop-down5div(style="float:left;padding:10px;")
     p Bassoon
     img(id="Bassoont",name="Bassoont" src='http://localhost:3000/images?id=bassoont.png', alt='Bassoont', width='50', height='70', style="float:left;")
     button(id="Image5" onclick="changeImage5();" style="background-color:#FFE4B5;" disabled)
      img(id="imgClickAndChange5", src='http://localhost:3000/images?id=play.jpg', alt='On Button', width='50', height='50', style="cursor: pointer;") 
     br
     label(for="vol5-control") Volume
      input#vol5-control(type='range', min='0', max='100', step='1', oninput='SetVolume5(this.value)', onchange='SetVolume5(this.value)', style="width:100px")
    #drop-down6div(style="float:left;padding:10px;position:relative; top:-180;left:970;")
     p Flute
     img(id="Flutet",name="Flutet" src='http://localhost:3000/images?id=flutet.png', alt='Flutet', width='50', height='70', style="float:left;")
     button(id="Image6" onclick="changeImage6();" style="background-color:#FFE4B5;" disabled)
      img(id="imgClickAndChange6", src='http://localhost:3000/images?id=play.jpg', alt='On Button', width='50', height='50', style="cursor: pointer;") 
     br
     label(for="vol6-control") Volume
      input#vol6-control(type='range', min='0', max='100', step='1', oninput='SetVolume6(this.value)', onchange='SetVolume6(this.value)', style="width:100px")
  script.
   //var audio = new Audio('http://localhost:3000/music?id=cliffrichard.wav', type='audio/wav');
   var vocalOnlyAudio = new Audio('http://localhost:3000/music?id=MiTradiVocals.wav', type='audio/wav');
   var video = document.getElementById('vid');
   var tempAudio = null;
   var tempAudio2 = null;
   var tempAudio3 = null;
   var tempAudio4 = null;
   var tempAudio5 = null;
   var tempAudio6 = null;
   //tempAudio3.onloadeddata = function() {
   // tempAudio4 = new Audio('http://localhost:3000/music?id=' + "CliffElectricGuitar" + '.wav', type='audio/wav');
   //};

   
   window.onunload = function(){
    // x functionality when window loads
    //tempAudio4 = null;
   }
   video.onpause = function()
   { 
    document.getElementById("PlayImage").disabled = true;
    document.getElementById("Image1").disabled = true;
    document.getElementById("Image2").disabled = true;
    document.getElementById("Image3").disabled = true;
    document.getElementById("Image4").disabled = true;
    document.getElementById("Image5").disabled = true;
    document.getElementById("Image6").disabled = true;
    changeImage4();
    document.getElementById("imgClickAndChange3").src = "http://localhost:3000/images?id=play.jpg";
    tempAudio3.pause();
    tempAudio3.currentTime = 0;
    document.getElementById("imgClickAndChange5").src = "http://localhost:3000/images?id=play.jpg";
    tempAudio5.pause();
    tempAudio5.currentTime = 0;
    document.getElementById("imgClickAndChange6").src = "http://localhost:3000/images?id=play.jpg";
    tempAudio6.pause();
    tempAudio5.currentTime = 0;
    //vocalOnlyAudio.pause();
    changePlayImage();
    changeImage1();
    changeImage2();
    changeImage3();
   };
   
   video.onplay = function()
   {
    document.getElementById("PlayImage").disabled = false;
    document.getElementById("Image1").disabled = false;
    document.getElementById("Image2").disabled = false;
    document.getElementById("Image3").disabled = false;
    document.getElementById("Image4").disabled = false;
    document.getElementById("Image5").disabled = false;
    document.getElementById("Image6").disabled = false;

    changePlayImage();
    changeImage1();
    changeImage2();
    changeImage3();
    changeImage4();
    changeImage5();
    changeImage6();
   };
   video.ontimeupdate = function() 
   {
    //audio.currentTime = video.currentTime; 
    vocalOnlyAudio.currentTime = video.currentTime;
    //tempAudio.currentTime = video.currentTime; 
    tempAudio2.currentTime = video.currentTime; 
    tempAudio3.currentTime = video.currentTime; 
    //tempAudio4.currentTime = video.currentTime; 
    tempAudio5.currentTime = video.currentTime; 
    tempAudio6.currentTime = video.currentTime; 
    if(video.currentTime >=document.getElementById("LoopEnd").value)
      {
       video.currentTime=document.getElementById("LoopStart").value;
      }
     if (video.currentTime <=document.getElementById("LoopStart").value)
     {
       video.currentTime=document.getElementById("LoopStart").value;
     }
    };

    video.onseeked = function()
    {
     if(document.getElementById("PlayImg").src!="http://localhost:3000/images?id=pause.png")
      {
       changePlayImage();
      }
     if(document.getElementById("imgClickAndChange").src!="http://localhost:3000/images?id=pause.png")
      {
        changeImage1();
      } 
     if(document.getElementById("imgClickAndChange2").src!="http://localhost:3000/images?id=pause.png")
      {
        changeImage2();
      }
     if(document.getElementById("imgClickAndChange3").src!="http://localhost:3000/images?id=pause.png")
      {
       changeImage3();
      }
      if(document.getElementById("imgClickAndChange4").src!="http://localhost:3000/images?id=pause.png")
      {
        changeImage4();
      }  
     if(document.getElementById("imgClickAndChange5").src!="http://localhost:3000/images?id=pause.png")
      {
        changeImage5();
      } 
     if(document.getElementById("imgClickAndChange6").src!="http://localhost:3000/images?id=pause.png")
      {
        changeImage6();
      } 
    };

 
   // Load Video
   var request = new XMLHttpRequest();
   request.open('GET', 'http://localhost:3000/music?id=mitradi.mp4',type='video/mp4', true);
   request.responseType = 'blob';

   request.onload = function() {
   // Onload is triggered even on 404
   // so we need to check the status code
    if (this.status === 200) {
      var videoBlob = this.response;
      var vid = URL.createObjectURL(videoBlob); // IE10+
      // Video is now downloaded
      // and we can set it as source on the video element
      video.src = vid;
    }
   }
   request.onerror = function() {
    // Error
   }
   request.send();

   function SetVolume(val)
   {
   //audio.volume = val / 100;
   vocalOnlyAudio.volume = val/100;
   //tempAudio.volume = val/100;
   tempAudio2.volume = val/100;
   tempAudio3.volume = val/100;
   //tempAudio4.volume = val/100;
   tempAudio5.volume = val/100;
   tempAudio6.volume = val/100;
   }

   function SetSpeed(val)
   {
     //audio.playbackRate = val;
     video.playbackRate = val;
     vocalOnlyAudio.playbackRate = val;
     //tempAudio.playbackRate = val;
     tempAudio2.playbackRate = val;
     tempAudio3.playbackRate = val;
     //tempAudio4.playbackRate = val;
     tempAudio5.playbackRate = val;
     tempAudio6.playbackRate = val;

   }

   function changePlayImage() {
   if (document.getElementById("PlayImg").src == "http://localhost:3000/images?id=play.jpg") 
   {
    document.getElementById("PlayImg").src = "http://localhost:3000/images?id=pause.png";
    //audio.pause();
    if (!video.paused){vocalOnlyAudio.play();}
    vocalOnlyAudio.currentTime = video.currentTime;
   }
   else
   {
    document.getElementById("PlayImg").src = "http://localhost:3000/images?id=play.jpg";
    vocalOnlyAudio.pause();
    //if (!video.paused){audio.play();}
    //audio.currentTime = vocalOnlyAudio.currentTime; 
   }
   }

   function changeImage1() {
   if (tempAudio == null)
   {
     //tempAudio =  new Audio('http://localhost:3000/music?id=' + "MiTradiCello" + '.wav', type='audio/wav');
   } 
   if (document.getElementById("imgClickAndChange").src == "http://localhost:3000/images?id=play.jpg") 
   {
    document.getElementById("imgClickAndChange").src = "http://localhost:3000/images?id=pause.png";
    //tempAudio.play();
    //tempAudio.currentTime = video.currentTime;

   }
   else 
   {
    document.getElementById("imgClickAndChange").src = "http://localhost:3000/images?id=play.jpg";
    //tempAudio.pause();
    //tempAudio.currentTime = 0;
    //tempAudio.stop();
    //tempAudio = null;
   }
   }
   function SetVolume1(val)
   {
    tempAudio.volume = val / 100;
   }

   function changeImage2() {
   if (tempAudio2 == null)
   {
     tempAudio2 = new Audio('http://localhost:3000/music?id=' + "MiTradiViolat" + '.wav', type='audio/wav');
   } 
   if (document.getElementById("imgClickAndChange2").src == "http://localhost:3000/images?id=play.jpg") 
   {
    document.getElementById("imgClickAndChange2").src = "http://localhost:3000/images?id=pause.png";
    tempAudio2.currentTime = video.currentTime;
    tempAudio2.play();
    //tempAudio2.loop = true; 

   }
   else 
   {
    document.getElementById("imgClickAndChange2").src = "http://localhost:3000/images?id=play.jpg";
    tempAudio2.pause();
    tempAudio2.currentTime = 0;
    tempAudio2.stop();
    tempAudio2 = null;
   }
   }
   function SetVolume2(val)
   {
    tempAudio2.volume = val / 100;
   }

   function changeImage3() {
   if (tempAudio3 == null)
   {
     tempAudio3 = new Audio('http://localhost:3000/music?id=' + "MiTradiClarinett" + '.wav', type='audio/wav');
   } 
   if (document.getElementById("imgClickAndChange3").src == "http://localhost:3000/images?id=play.jpg") 
   {
    document.getElementById("imgClickAndChange3").src = "http://localhost:3000/images?id=pause.png";
    tempAudio3.currentTime = video.currentTime;
    tempAudio3.play();
   }
   else 
   {
    document.getElementById("imgClickAndChange3").src = "http://localhost:3000/images?id=play.jpg";
    tempAudio3.pause();
    tempAudio3.currentTime = 0;
    tempAudio3.stop();
    tempAudio3 = null;
   }
   }
   function SetVolume3(val)
   {
    tempAudio3.volume = val / 100;
   }

   function changeImage4() {
   if (tempAudio4 == null)
   {
    //tempAudio4 =  new Audio('http://localhost:3000/music?id=' + "MiTradiViolin" + '.wav', type='audio/wav');
   } 
   if (document.getElementById("imgClickAndChange4").src == "http://localhost:3000/images?id=play.jpg") 
   {
    document.getElementById("imgClickAndChange4").src = "http://localhost:3000/images?id=pause.png";
    //tempAudio2.currentTime = video.currentTime;
    //tempAudio4.play();
   }
   else 
   {
    document.getElementById("imgClickAndChange4").src = "http://localhost:3000/images?id=play.jpg";
    //tempAudio4.pause();
    //tempAudio4.currentTime = 0;
    //tempAudio4.stop();
    //tempAudio4 = null;
   }
   }
   function SetVolume4(val)
   {
    tempAudio4.volume = val / 100;
   }


   function changeImage5() {
   if (tempAudio5 == null)
   {
    tempAudio5 =  new Audio('http://localhost:3000/music?id=' + "MiTradiBassoont" + '.wav', type='audio/wav');
   } 
   //tempAudio5 = new Audio('http://localhost:3000/music?id=' + value5 + '.wav', type='audio/wav');
   if (document.getElementById("imgClickAndChange5").src == "http://localhost:3000/images?id=play.jpg") 
   {
    document.getElementById("imgClickAndChange5").src = "http://localhost:3000/images?id=pause.png";
    tempAudio5.currentTime = video.currentTime;
    tempAudio5.play();
   }
   else 
   {
    document.getElementById("imgClickAndChange5").src = "http://localhost:3000/images?id=play.jpg";
    tempAudio5.pause();
    tempAudio5.currentTime = 0;
    tempAudio5.stop();
    tempAudio5 = null;
   }
   }
   function SetVolume5(val)
   {
    tempAudio5.volume = val / 100;
   }

   function changeImage6() {
   if (tempAudio6 == null)
   {
    tempAudio6 =  new Audio('http://localhost:3000/music?id=' + "MiTradiFlutet" + '.wav', type='audio/wav');
   } 
   if (document.getElementById("imgClickAndChange6").src == "http://localhost:3000/images?id=play.jpg") 
   {
    document.getElementById("imgClickAndChange6").src = "http://localhost:3000/images?id=pause.png";
    tempAudio6.currentTime = video.currentTime;
    tempAudio6.play();
   }
   else 
   {
    document.getElementById("imgClickAndChange6").src = "http://localhost:3000/images?id=play.jpg";
    tempAudio6.pause();
    tempAudio6.currentTime = 0;
    tempAudio6.stop();
    tempAudio6 = null;
   }
   }
   function SetVolume6(val)
   {
    tempAudio6.volume = val / 100;
   }

   function SetVolume7(val)
   {
    vocalOnlyAudio.volume = val / 100;
   }

   function resetLoop()
   {
    document.getElementById("LoopStart").value = 0; 
    document.getElementById("LoopEnd").value = 248; 
   }
