extends layout

block content
  style.
   body
   {
    background-color:#FFE4B5;
   }
   button
   {
   	color:white;
   }
   p
   {
    font-size: 16px;
   }
  h1(style="text-align:center") Mixer Support
  link(href='views/css/styles.css', rel='stylesheet')
  script(src='//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/2.0.6/wavesurfer.min.js')

  p &nbsp In this session you will be introduced to the "Mixer" activities


  h2(style="text-align:center;") Session learning objectives:
  p &nbsp The activities in this session will give you the opportunity to:

  ul
   li experiment with instrumentation and volume using original recordings
   li establish a mix that is optimal for you through isolating and combining different parts of the music 
  h2(style="text-align:center;") About Mixer:
  p &nbsp The Mixer app is the brainchild of Professor David Nicholls in the Department of Music at the University of Southampton. It allows you to control the mix (i.e. the volume balance 
  p &nbsp  of instruments and voices), the pitch and the speed of different pieces of music.
  p &nbsp - The first Mixer features Sir Cliff Richard singing his number 1 hit "We Don't Talk Anymore", which reached number 1 in the UK singles chart in 1979.                     
  p &nbsp -"Mixer: Mi Tradì" features a well-known aria from the opera Don Giovanni. The aria, Mi tradì quell' alma ingrata, which translates as "That ungrateful wretch betrayed me", is sung 
  p &nbsp by the character, Donna Elvira, who is an abandoned lover of Don Giovanni.
  h2(style="text-align:center;") 1) Mixer Activities:

  p &nbsp When you first open the activities, start by:

  ul
   li which instrument is easiest to recognise?
   li what combination of instruments sounds best?
  button(onclick="location.href='http://localhost:3000/activities/mixer'", type='button' style="position:relative;left:400;") Mixer - Cliff Richard
  button(onclick="location.href='http://localhost:3000/activities/mixermitradi'", type='button' style="position:relative;left:550;") Mixer - Mi Tradi

  h2(style="text-align:center;") 2) Test yourself - Instrument Recognition:
  p &nbsp Finally, have a go at the instrument recognition test below. Don't worry if you find this quite tricky, as you will almost certainly improve over the course of the IMAP! 


  button(onclick="location.href='http://localhost:3000/selftests/instrumentrecognitiontest'", type='button' style="position:relative;left:540;") Instrument Recognition test
  br
  br
  br
  br



