extends layout

block content
  style.
   body
   {
    text-align: center;
    background-color:#FFE4B5;
   }
   #mainbody
   {
   	height:650;
   }
   button
   {
   	color:white;
   }
  h1= title
  link(href='views/css/styles.css', rel='stylesheet')
  script(src='//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/2.0.6/wavesurfer.min.js')
  #mainbody
   h3 Instructions
   h5 Play each audio track and try to identify which rhythm is the odd one out. You can listen to each track as many times as you want. 
   h5 Once you have identified the odd one out, select the corresponding button from the three options. If you are unsure, guess which rhythm was the odd one out.
   h5 When the question has been answered you can proceed to the next question. You can track your progress by clicking on the "Mark Answer" button.
   
    br
    br
    #quizcontainerQuestion
    br
    div(name='audio1', id='audio1' style="float:left")
    div(name='audio2', id='audio2' style="display: inline-block;")
    div(name='audio3', id='audio3' style="float:right")
    br
    br
    p(style="position:relative;left:-500px;") Rhythm 1    
    p(style="position:relative;top:-20;left:0px;") Rhythm 2 
    p(style="position:relative;top:-40;left:500px;") Rhythm 3

   .quiz-container
    #quiz
   #buttons
    button(id='previous', type='button' onclick='showPreviousSlide()' style="position:relative;top:-50;left:-50;") Previous Question
    button(id='mark', type='button' onclick='showAnswer()' style="position:relative;top:-50;left:-20;") Mark Answer
    button(id='next', type='button' onclick='showNextSlide()' style="position:relative;top:-50;left:10;") Next Question
    button(id='submit', type='button' onclick='showResults()' style="position:relative;top:-50;left:10;") Submit Quiz
   #results(style="position:relative;top:-40;")
  script.
   var randomisingInputs = ["CarHandbrakeOFF-CarHandbrakeOFF-CarHandbrakeON;c", "CarIceScraper-FoodCanOpen-FoodCanOpen;a", "FoodCoffeeSpoonOnCup-FoodCoffeeSpoonOnCup-CarIceScraper;c"] 
   //alert(randomisingInputs);
   randomisingInputs = shuffle(randomisingInputs);
   //alert(randomisingInputs);
   var audio1 = "CarHandbrakeOFF";
   var audio2= "CarHandbrakeOFF";
   var audio3 = "CarHandbrakeON";
   var audioType0 = "waltz";
   var audioType1 = "waltz";
   var audioType2 = "waltz";
   var audioType3 = "waltz";
   var audioType4 = "waltz";
   var audioType5 = "waltz";
   var audioType6 = "waltz";
   var audioType7 = "waltz";
   var audioType8 = "waltz";
   var audioType9 = "waltz";
   var audioType10 = "waltz";
   var audioType11 = "waltz";
   var slideNumber = 0;
   document.getElementById('audio1').innerHTML = '<audio id="audio-player" controls="controls" src="http://localhost:3000/music?id=' + audio1 +'.wav" type="audio/wav">';
   document.getElementById('audio2').innerHTML = '<audio id="audio-player" controls="controls" src="http://localhost:3000/music?id='+ audio2 +'.wav" type="audio/wav">';
   document.getElementById('audio3').innerHTML = '<audio id="audio-player" controls="controls" src="http://localhost:3000/music?id='+audio3+'.wav" type="audio/wav">';
   const quizContainer = document.getElementById('quiz');
   const quizContainerQuestion = document.getElementById('quizcontainerQuestion');
   const resultsContainer = document.getElementById('results');
   const submitButton = document.getElementById('submit');
   quizContainerQuestion.style.fontSize = "large";
   quizContainerQuestion.innerHTML = "Play all the files and then select the odd one out:";
    // pagination
   let currentSlide = 0;
    const myQuestions = [
    {
      question: "",
      answers: {
        a: "Rhythm 1",
        b: "Rhythm 2",
        c: "Rhythm 3"
      },
      correctAnswer: "c"
    },
    {
      question: "",
      answers: {
        a: "Rhythm 1",
        b: "Rhythm 2",
        c: "Rhythm 3"
      },
      correctAnswer: "b"
    },
    {
      question: "",
      answers: {
        a: "Rhythm 1",
        b: "Rhythm 2",
        c: "Rhythm 3"

      },
      correctAnswer: "c"
    }
    ];
    function navigateHome()
    {
    	localStorage.clear();
    	location.href = "http://localhost:3000/";
    }
    function showSlide(n) {
     slides[currentSlide].classList.remove('active-slide');
     slides[n].classList.add('active-slide');
     currentSlide = n;
     if(currentSlide===0){
      previousButton.style.display = 'none';
     }
     else{
      previousButton.style.display = 'inline-block';
     }  
     if(currentSlide===slides.length-1){
      nextButton.style.display = 'none';
      submitButton.style.display = 'inline-block';
      }
     else{
      nextButton.style.display = 'inline-block';
      submitButton.style.display = 'none';
    	}
    }
    function showNextSlide() {

      showSlide(currentSlide + 1);
      selectAudiosforQuestions(); 

      /*const answerContainers = quizContainer.querySelectorAll('.answers');
      let index = 0;
      myQuestions.forEach( (currentQuestion, questionNumber) => {
      if(index == currentSlide)
      {
       const answerContainer = answerContainers[questionNumber];
       const selector = 'input[name=question'+questionNumber+']:checked';
       const userAnswer = (answerContainer.querySelector(selector) || {}).value;
       if(userAnswer == undefined)
       {
        alert("Please select an option before attempting to view the answer!");
       }
       else 
       {
        if(userAnswer == currentQuestion.correctAnswer)
        {
         if(index == myQuestions.length -1)
         {
           alert("Correct answer! Submit Quiz to mark all your latest answers!");   
         }
         else
         {
           alert("Correct answer! Move on to the next question."); 
           showSlide(currentSlide + 1);
           selectAudiosforQuestions(); 
           index = currentSlide + 1; 
         }
        }
        else
        {
         alert("Wrong answer, listen and try again if you would like!"); 
        }
       }
      }
      index++;
      }); */
    }
    function showPreviousSlide() {
   	 showSlide(currentSlide - 1);
   	 selectAudiosforQuestions();
   	}
   	function showResults(){
     const answerContainers = quizContainer.querySelectorAll('.answers');
     let numCorrect = 0;
     myQuestions.forEach( (currentQuestion, questionNumber) => {
     const answerContainer = answerContainers[questionNumber];
     const selector = 'input[name=question'+questionNumber+']:checked';
     const userAnswer = (answerContainer.querySelector(selector) || {}).value;
      if(userAnswer===currentQuestion.correctAnswer){
       numCorrect++;
       answerContainers[questionNumber].style.color = 'green';
     }
     else{
      answerContainers[questionNumber].style.color = 'red';
     }
    });
    resultsContainer.style.fontStyle = "bold";
    resultsContainer.style.fontSize = "large";
    resultsContainer.innerHTML = numCorrect + ' out of ' + myQuestions.length + ' questions were answered correctly.' + "<br />"  +' Re-try the quiz if you would like to by navigating back to the previous questions!';
    }

    function buildQuiz(){
     const output = [];
     const outputQuestion = [];

     myQuestions.forEach(
     (currentQuestion, questionNumber) => {
      const answers = [];	
      for(letter in currentQuestion.answers){
        answers.push(
          `<label>
            <input type="radio", id="radioButton", name="question${questionNumber}", value="${letter}">
            ${letter} :
            ${currentQuestion.answers[letter]}
          </label>`
        );
      }
      output.push(
        `<div class="slide">
           <div class="question"> ${currentQuestion.question} </div>
           <div class="answers"> ${answers.join("")} </div>
         </div>`
      );
     }
     );
     quizContainer.innerHTML = output.join('');
    }
    buildQuiz();
    const previousButton = document.getElementById("previous");
    const nextButton = document.getElementById("next");
    const slides = document.querySelectorAll(".slide");
    showSlide(0);
    function selectAudiosforQuestions()
    {
    	switch (currentSlide) 
    	{
    	case 0:
        	audio1 = "CarHandbrakeOFF";
   			audio2= "CarHandbrakeOFF";
   			audio3 = "CarHandbrakeON";
        	break;
        case 1:
        	audio1 = "CarIceScraper";
   			audio2= "FoodCanOpen";
   			audio3 = "CarIceScraper";
        	break;
        case 2:
        	audio1 = "FoodCoffeeSpoonOnCup";
   			audio2= "FoodCoffeeSpoonOnCup";
   		    audio3 = "CarIceScraper";
        	break;
        case 3:
        	audio1 = "andamga";
   			audio2= "andamga";
   			audio3 = "andamga";
        	break;
        case 4:
        	audio1 = "andamga";
   			audio2= "andamga";
   			audio3 = "andamga";
        	break;
        case 5:
        	audio1 = "andamga";
   			audio2= "andamga";
   			audio3 = "andamga";
        	break;
        case 6:
        	audio1 = "andamga";
   			audio2= "andamga";
   			audio3 = "andamga";
        	break;
        case 7:
        	audio1 = "andamga";
   			audio2= "andamga";
   			audio3 = "andamga";
        	break;
        case 8:
        	audio1 = "andamga";
   			audio2= "andamga";
   			audio3 = "andamga";
        	break;
        case 9:
        	audio1 = "andamga";
   			audio2= "andamga";
   			audio3 = "andamga";
        	break;
        case 10:
        	audio1 = "andamga";
   			audio2= "andamga";
   			audio3 = "andamga";
        	break;
        case 11:
        	audio1 = "andamga";
   			audio2= "andamga";
   			audio3 = "andamga";
        	break; 
        }
    document.getElementById('audio1').innerHTML = '<audio id="audio-player" controls="controls" src="http://localhost:3000/music?id=' + audio1 +'.wav" type="audio/wav">';
    document.getElementById('audio2').innerHTML = '<audio id="audio-player" controls="controls" src="http://localhost:3000/music?id='+ audio2 +'.wav" type="audio/wav">';
    document.getElementById('audio3').innerHTML = '<audio id="audio-player" controls="controls" src="http://localhost:3000/music?id='+audio3+'.wav" type="audio/wav">';
   	}
   	function showAnswer()
   	{

      const answerContainers = quizContainer.querySelectorAll('.answers');
      let index = 0;
      myQuestions.forEach( (currentQuestion, questionNumber) => {
      if(index == currentSlide)
      {
       const answerContainer = answerContainers[questionNumber];
       const selector = 'input[name=question'+questionNumber+']:checked';
       const userAnswer = (answerContainer.querySelector(selector) || {}).value;
       if(userAnswer == undefined)
       {
        alert("Please select an option before attempting to view the answer!");
       }
       else 
       {
        if(userAnswer == currentQuestion.correctAnswer)
        {
         if(index == myQuestions.length -1)
         {
           alert("Correct answer! Submit Quiz to mark all your latest answers!");   
         }
         else
         {
           alert("Correct answer! Move on to the next question."); 
           /*showSlide(currentSlide + 1);
           selectAudiosforQuestions(); 
           index = currentSlide + 1; */
         }
        }
        else
        {
         alert("Wrong answer, listen and try again if you would like!"); 
        }
       }
      }
      index++;
      });
   	}

   function shuffle(array) {
    var currentIndex = array.length, temporaryValue, randomIndex;

    // While there remain elements to shuffle...
    while (0 !== currentIndex) {

    // Pick a remaining element...
    randomIndex = Math.floor(Math.random() * currentIndex);
    currentIndex -= 1;

    // And swap it with the current element.
    temporaryValue = array[currentIndex];
    array[currentIndex] = array[randomIndex];
    array[randomIndex] = temporaryValue;
   }

    return array;
   }