extends layout
block content
 style.
  body
  {
   background-color:#FFE4B5;
  }
  a.btn.btn-primary
  {
   background-color:#4682B4;
  }
  #navpanediv
  {
    height:425;
  }
 h1(style='text-align:center') Self Tests
  br

 #navpanediv
  .card(style='width:400px;border:black;position:relative;top:18;left:567;bottom-margin: 10px;')
   .card-body
    h3.card-title Rhythm Test
    p.card-text(style="font-size:16px;position:relative;left:-100;") The rhythm test tests your ability to detect small changes in the timing of the beats in a rhythmic pattern. The rhythmic patterns featured are typical of various styles of dance music.
    a.btn.btn-primary(href='http://localhost:3000/selftests/rhythmtest') Try the Rhythm Test!
  br
  br
  .card(style='width:400px;border:black;position:relative;top:18;left:228;bottom-margin: 10px;')
   .card-body
    h3.card-title Instrument Recognition Test
    p.card-text(style="font-size:16px;") The instrument recognition test tests your ability to identify musical instruments playing a well known melody.
    a.btn.btn-primary(href='http://localhost:3000/selftests/instrumentrecognitiontest') Try the Instrument Recognition Test!
  .card(style='width:400px;border:black;position:relative;top:-153;left:738;bottom-margin: 10px;')
   .card-body
    h3.card-title Instrument Recognition Test - Soundtracks
    p.card-text(style="font-size:16px;") This instrument recognition test applies to soundtracks
    br
    a.btn.btn-primary(href='http://localhost:3000/selftests/instrumentrecognitiontestsoundtracks') Try the Instrument Recognition Test - Soundtracks!
  //p Playback Speed
  //input#pitch-control(type='range', min='-1200', max='1200', step='200', onchange='SetPitch(this.value)', style="float:right; display:inline;width:100px")
  br
 script.
  var audioSrc = 'http://localhost:3000/music?id=cliffrichard.wav';
  var audioContext = new AudioContext();
  var src = "";
  bufferSound(audioContext, audioSrc).then(function (buffer) {
  var g = audioContext.createGain();
  g.gain.value = 5;
  g.connect(audioContext.destination);
  var bq = audioContext.createBiquadFilter();
  bq.detune.value = -1200;
  bq.connect(g);
  //src = audioContext.createBufferSource();
  //src.buffer = buffer;
  //src.connect(bq);
  //var gainNode = audioContext.createGain();
  //src.connect(gainNode);
  //gainNode.connect(audioContext.destination);
  //gainNode.gain.setValueAtTime(0, audioContext.currentTime);
  //src.start(0,15);

  });

  function bufferSound(ctx, url) {
   var p = new Promise(function(resolve, reject) {
   var req = new XMLHttpRequest();
   req.open('GET', url, true);
   req.responseType = 'arraybuffer';
   req.onload = function() {
     ctx.decodeAudioData(req.response, resolve, reject);
   }
   req.send();
   });
   return p;
  }

  function SetPitch(val){
   if (src != null)
   {
    g = null;
    bq = null;
    src = null;
    //src.stop();
   }
   bufferSound(audioContext, audioSrc).then(function (buffer) {
   g = audioContext.createGain();
   g.gain.value = 5;
   g.connect(audioContext.destination);
   bq = audioContext.createBiquadFilter();
   bq.detune.value = val;
   bq.connect(g);
   src = audioContext.createBufferSource();
   src.buffer = buffer;
   src.connect(bq);
   src.start(0,60);
  });
  } 