extends layout

block content
  br
  style.
   #wholebody
   {
    height:450px
   }
   body
   {
    background-color:#FFE4B5;
   }
   footer
   {
    position:relative;
    bottom:-50;
   }
  button(onclick="location.href='http://localhost:3000/activities/soundtracks/soundtrackssessionsupport'", type='button' style="color:white;position:absolute; top:107; left:35;") Soundtracks Support
  #wholebody
   h1(style="text-align:center;")= title
   #videoselector(style="position:relative;top:150;left:170;")
    h4 Select Video:
    select(name='DropDownVideo', id="DropDownVideo", onchange="dropDownVideoChanged()")
     option(value='bridgeconstruction' id="bridgeconstruction") Bridge Construction 
     option(value='lightningstorm' id="lightningstorm") Lightning Storm
   video(id= 'vid', width='420', height='340', src='http://localhost:3000/music?id=bridgeconstruction.mp4',type='video/mp4',controls='controls', style="  margin-left: auto;margin-right: auto;display: block")
  
   #audioselector(style="position:relative;top:-255;left:950;")
    h4 Select Audio:
    select(name='DropDown1', id="DropDown1", onchange="dropDown1Changed()")
     option(value='wavescrashing' id="wavescrashing") Waves Crashing on Beach
     option(value='birdchirping' id="birdchirping") Birds Chirping 
    br
    br
    #audioplayer
     h5 Play Audio:
      a(onclick="changeImage1();", style="padding:5px;")
       img(id="imgClickAndChange", src='http://localhost:3000/images?id=play.jpg', alt='On Button', width='50', height='50', style="cursor: pointer;")
    br
    label(for="vol1-control", style="font-weight:normal;padding-left:50px;") Volume
    #vol(style="padding-left:30px;")
     input#vol1-control(type='range', min='0', max='100', step='1', oninput='SetVolume1(this.value)', onchange='SetVolume1(this.value)', style="width:100px")

  script.
   var video = document.getElementById('vid');
   var valueVideo = document.getElementById("DropDownVideo").value;
   var value1 = document.getElementById("DropDown1").value;
   var tempAudio = new Audio('http://localhost:3000/music?id=' + value1 + '.mp3', type='audio/mp3');
   
   var loaded1 = false; 
   var loaded2 = false;
   video.onloadedmetadata = function() {
   {
    if(document.getElementById("DropDownVideo").value == "lightningstorm")
    {
      if(loaded2 !=true)
      {
       loaded1 = false;
      }
    }

    if(!loaded1)
    {
    var request = new XMLHttpRequest();
    request.open('GET', "http://localhost:3000/music?id=" + document.getElementById("DropDownVideo").value + ".mp4",type='video/mp4', true);
    request.responseType = 'blob';
    request.onload = function() {
    if (this.status === 200) {
      var videoBlob = this.response;
      var vid = URL.createObjectURL(videoBlob);
      video.src = vid;
    }
    }
    request.onerror = function() {
     console.log("aa");
    }
    loaded1 = true;
    if(document.getElementById("DropDownVideo").value == "lightningstorm")
    {
      loaded2 = true;
    }
    request.send();
    }
   
   }};
   function dropDown1Changed()
   {
   tempAudio.pause();
   value1 = document.getElementById("DropDown1").value;
   tempAudio = new Audio('http://localhost:3000/music?id=' + value1 + '.mp3', type='audio/mp3');
   if (document.getElementById("imgClickAndChange").src != "http://localhost:3000/images?id=play.jpg") 
   {
    tempAudio.play();
    tempAudio.loop = true; 
   }
   }
   function changeImage1() {
   if (document.getElementById("imgClickAndChange").src == "http://localhost:3000/images?id=play.jpg") 
   {
    document.getElementById("imgClickAndChange").src = "http://localhost:3000/images?id=pause.png";
    tempAudio.play();
    tempAudio.loop = true; 
   }
   else 
   {
    document.getElementById("imgClickAndChange").src = "http://localhost:3000/images?id=play.jpg";
    tempAudio.loop = false; 
    tempAudio.pause();
    tempAudio.currentTime = 0;
    tempAudio.stop();
   }
   }

   function dropDownVideoChanged()
   {
    valueVideo = document.getElementById("DropDownVideo").value;
    video.src = 'http://localhost:3000/music?id=' + valueVideo + '.mp4'
   }
   function SetVolume1(val)
   {
   tempAudio.volume = val / 100;
   }