extends layout

block content
  br
  style.
   #wholebody
   {
    height:870px
   }
   body
   {
    background-color:#FFE4B5;
   }
   footer
   {
    position:relative;
    bottom:-50;
   }
  button(onclick="location.href='http://localhost:3000/activities/soundtracks/soundtrackssessionsupport'", type='button' style="color:white;position:absolute; top:107; left:35;") Soundtracks Support
  #wholebody
   h1(style="text-align:center;")= title
   #videoselector(style="position:relative;top:90;left:20;")
    h4 Select Video:
    select(name='DropDownVideo', id="DropDownVideo", onchange="dropDownVideoChanged()")
     option(value='newyorksubwaystairs' id="newyorksubwaystairs") New York Subway Stairs
     option(value='lightningstorm' id="lightningstorm") Lightning Storm
   video(id= 'vid', width='420', height='240', src='http://localhost:3000/music?id=newyorksubwaystairs.mp4',type='video/mp4',controls='controls', style="  margin-left: auto;margin-right: auto;display: block")
 
   #audioselector(style="position:relative;top:-215;left:950;")
    h4 Select Audio:
    select(name='DropDown1', id="DropDown1", onchange="dropDown1Changed()")
     option(value='wavescrashing' id="wavescrashing") Waves Crashing on Beach
     option(value='birdchirping' id="birdchirping") Birds Chirping
     option(value='soundeffects' id="soundeffects") Sound Effects
    br
    br
    #audioplayer
     h5 Play Audio:
      a(onclick="changeImage1();", style="padding:5px;")
       img(id="imgClickAndChange", src='http://localhost:3000/images?id=play.jpg', alt='On Button', width='50', height='50', style="cursor: pointer;")
    br
    label(for="vol1-control", style="font-weight:normal;padding-left:50px;") Volume
    #vol(style="padding-left:30px;")
     input#vol1-control(type='range', min='0', max='100', step='1', oninput='SetVolume1(this.value)', onchange='SetVolume1(this.value)', style="width:100px")
   
   #soundeffectsdiv(style="float:left;position:relative;top:-180;left:505;display:none;")
     h5(style="position:relative;left:-130;") Play around with the order of the different sound effects below:
     #dropdown2
      br
      #dropdown2selections(style="float:left;")
       select(name='DropDown2', id="DropDown2", onchange="dropDown2Changed()")
        option(value='CarHandbrakeON' id="CarHandbrakeON") Car Handbrake ON
        option(value='CarHandbrakeOFF' id="CarHandbrakeOFF") Car Handbrake OFF
        option(value='CarIndicator' id="CarIndicator") Car Indicator
        option(value='CarIceScraper' id="CarIceScraper") Car Ice Scraper
        option(value='FoodCanOpen' id="FoodCanOpen") Food Can Open
        option(value='FoodCoffeeSpoonOnCup' id="FoodCoffeeSpoonOnCup") Food Coffee Spoon on Cup
        option(value='PeopleCameraClick' id="PeopleCameraClick") People Camera Click
      #dropdown2button(style="float:left;")
        input(id='dropdown2buttoninput', type='button', value='Mute' onclick="mutedropdown2()")
     #dropdown3
      br
      br
      #dropdown3selections(style="float:left;")
       select(name='DropDown3', id="DropDown3", onchange="dropDown3Changed()")
        option(value='CarHandbrakeOFF' id="CarHandbrakeOFF") Car Handbrake OFF
        option(value='CarIndicator' id="CarIndicator") Car Indicator
        option(value='CarIceScraper' id="CarIceScraper") Car Ice Scraper
        option(value='FoodCanOpen' id="FoodCanOpen") Food Can Open
        option(value='FoodCoffeeSpoonOnCup' id="FoodCoffeeSpoonOnCup") Food Coffee Spoon on Cup
        option(value='PeopleCameraClick' id="PeopleCameraClick") People Camera Click
        option(value='CarHandbrakeON' id="CarHandbrakeON") Car Handbrake ON
      #dropdown3button(style="float:left;")
        input(id='dropdown3buttoninput',type='button', value='Mute' onclick="mutedropdown3()")

     #dropdown4
      br
      br
      #dropdown4selections(style="float:left;")
       select(name='DropDown4', id="DropDown4", onchange="dropDown4Changed()")
        option(value='CarIndicator' id="CarIndicator") Car Indicator
        option(value='CarIceScraper' id="CarIceScraper") Car Ice Scraper
        option(value='FoodCanOpen' id="FoodCanOpen") Food Can Open
        option(value='FoodCoffeeSpoonOnCup' id="FoodCoffeeSpoonOnCup") Food Coffee Spoon on Cup
        option(value='PeopleCameraClick' id="PeopleCameraClick") People Camera Click
        option(value='CarHandbrakeON' id="CarHandbrakeON") Car Handbrake ON
        option(value='CarHandbrakeOFF' id="CarHandbrakeOFF") Car Handbrake OFF
      #dropdown4button(style="float:left;")
        input(id='dropdown4buttoninput',type='button', value='Mute' onclick="mutedropdown4()")

     #dropdown5
      br
      br
      #dropdown5selections(style="float:left;")
       select(name='DropDown5', id="DropDown5", onchange="dropDown5Changed()")
        option(value='CarIceScraper' id="CarIceScraper") Car Ice Scraper
        option(value='FoodCanOpen' id="FoodCanOpen") Food Can Open
        option(value='FoodCoffeeSpoonOnCup' id="FoodCoffeeSpoonOnCup") Food Coffee Spoon on Cup
        option(value='PeopleCameraClick' id="PeopleCameraClick") People Camera Click
        option(value='CarHandbrakeON' id="CarHandbrakeON") Car Handbrake ON
        option(value='CarHandbrakeOFF' id="CarHandbrakeOFF") Car Handbrake OFF
        option(value='CarIndicator' id="CarIndicator") Car Indicator
      #dropdown5button(style="float:left;")
        input(id='dropdown5buttoninput',type='button', value='Mute' onclick="mutedropdown5()")

     #dropdown6
      br
      br
      #dropdown6selections(style="float:left;")
       select(name='DropDown6', id="DropDown6", onchange="dropDown6Changed()")
        option(value='FoodCanOpen' id="FoodCanOpen") Food Can Open
        option(value='FoodCoffeeSpoonOnCup' id="FoodCoffeeSpoonOnCup") Food Coffee Spoon on Cup
        option(value='PeopleCameraClick' id="PeopleCameraClick") People Camera Click
        option(value='CarHandbrakeON' id="CarHandbrakeON") Car Handbrake ON
        option(value='CarHandbrakeOFF' id="CarHandbrakeOFF") Car Handbrake OFF
        option(value='CarIndicator' id="CarIndicator") Car Indicator
        option(value='CarIceScraper' id="CarIceScraper") Car Ice Scraper
      #dropdown6button(style="float:left;")
        input(id='dropdown6buttoninput',type='button', value='Mute' onclick="mutedropdown6()")

     #dropdown7
      br
      br
      #dropdown7selections(style="float:left;")
       select(name='DropDown7', id="DropDown7", onchange="dropDown7Changed()")
        option(value='FoodCoffeeSpoonOnCup' id="FoodCoffeeSpoonOnCup") Food Coffee Spoon on Cup
        option(value='PeopleCameraClick' id="PeopleCameraClick") People Camera Click
        option(value='CarHandbrakeON' id="CarHandbrakeON") Car Handbrake ON
        option(value='CarHandbrakeOFF' id="CarHandbrakeOFF") Car Handbrake OFF
        option(value='CarIndicator' id="CarIndicator") Car Indicator
        option(value='CarIceScraper' id="CarIceScraper") Car Ice Scraper
        option(value='FoodCanOpen' id="FoodCanOpen") Food Can Open
      #dropdown7button(style="float:left;")
        input(id='dropdown7buttoninput',type='button', value='Mute' onclick="mutedropdown7()")

     #dropdown8
      br
      br
      #dropdown8selections(style="float:left;")
       select(name='DropDown8', id="DropDown8", onchange="dropDown8Changed()")
        option(value='PeopleCameraClick' id="PeopleCameraClick") People Camera Click
        option(value='CarHandbrakeON' id="CarHandbrakeON") Car Handbrake ON
        option(value='CarHandbrakeOFF' id="CarHandbrakeOFF") Car Handbrake OFF
        option(value='CarIndicator' id="CarIndicator") Car Indicator
        option(value='CarIceScraper' id="CarIceScraper") Car Ice Scraper
        option(value='FoodCanOpen' id="FoodCanOpen") Food Can Open
        option(value='FoodCoffeeSpoonOnCup' id="FoodCoffeeSpoonOnCup") Food Coffee Spoon on Cup
      #dropdown8button(style="float:left;")
        input(id='dropdown8buttoninput',type='button', value='Mute' onclick="mutedropdown8()")


  script.
   var video = document.getElementById('vid');
   video.muted = "muted";
   var valueVideo = document.getElementById("DropDownVideo").value;
   var value1 = document.getElementById("DropDown1").value;
   var tempAudio = new Audio('http://localhost:3000/music?id=' + value1 + '.mp3', type='audio/mp3');
   var loaded1 = false; 
   var loaded2 = false;
   var audio = new Audio('http://localhost:3000/music?id=' + sounds[0] + '.wav', type='audio/wav');
   var audio1 = new Audio('http://localhost:3000/music?id=' + sounds[1] + '.wav', type='audio/wav');
   var audio2 = new Audio('http://localhost:3000/music?id=' + sounds[2] + '.wav', type='audio/wav');
   var audio3 = new Audio('http://localhost:3000/music?id=' + sounds[3] + '.wav', type='audio/wav');
   var audio4 = new Audio('http://localhost:3000/music?id=' + sounds[4] + '.wav', type='audio/wav');
   var audio5 = new Audio('http://localhost:3000/music?id=' + sounds[5] + '.wav', type='audio/wav');
   var audio6 = new Audio('http://localhost:3000/music?id=' + sounds[6] + '.wav', type='audio/wav');

   video.onloadedmetadata = function() {
   {
    if(document.getElementById("DropDownVideo").value == "lightningstorm")
    {
      if(loaded2 !=true)
      {
       loaded1 = false;
      }
    }

    if(!loaded1)
    {
    var request = new XMLHttpRequest();
    request.open('GET', "http://localhost:3000/music?id=" + document.getElementById("DropDownVideo").value + ".mp4",type='video/mp4', true);
    request.responseType = 'blob';
    request.onload = function() {
    if (this.status === 200) {
      var videoBlob = this.response;
      var vid = URL.createObjectURL(videoBlob);
      video.src = vid;
    }
    }
    request.onerror = function() {
    // Error
    }
    loaded1 = true;
    if(document.getElementById("DropDownVideo").value == "lightningstorm")
    {
      loaded2 = true;
    }
    request.send();
    }
   
   }};
   function dropDown1Changed()
   {
   tempAudio.pause();
   value1 = document.getElementById("DropDown1").value;
   if (value1 == "soundeffects")
   {
    document.getElementById("soundeffectsdiv").style.display = "block";
   }
   else
   {
    document.getElementById("soundeffectsdiv").style.display = "none";
   }
   tempAudio = new Audio('http://localhost:3000/music?id=' + value1 + '.mp3', type='audio/mp3');
   if (document.getElementById("imgClickAndChange").src != "http://localhost:3000/images?id=play.jpg") 
   {
    if(value1 == "soundeffects")
    {
     applySoundEffects();
    }
    else
    {
    tempAudio.play();
    tempAudio.loop = true; 
    }
   }
   }
   function changeImage1() {
   if (document.getElementById("imgClickAndChange").src == "http://localhost:3000/images?id=play.jpg") 
   {
    document.getElementById("imgClickAndChange").src = "http://localhost:3000/images?id=pause.png";
    tempAudio.play();
    tempAudio.loop = true;
    if(document.getElementById("DropDown1").value == "soundeffects")
    {
     applySoundEffects();
    }
   }
   else 
   {
    document.getElementById("imgClickAndChange").src = "http://localhost:3000/images?id=play.jpg";
    tempAudio.loop = false; 
    tempAudio.pause();
    tempAudio.currentTime = 0;
    tempAudio.stop();
   }
   }

   function dropDownVideoChanged()
   {
    valueVideo = document.getElementById("DropDownVideo").value;
    video.src = 'http://localhost:3000/music?id=' + valueVideo + '.mp4'
   }
   function SetVolume1(val)
   {
    tempAudio.volume = val / 100;
    audio.volume = val / 100;
    audio1.volume = val / 100;
    audio2.volume = val / 100;
    audio3.volume = val / 100;
    audio4.volume = val / 100;
    audio5.volume = val / 100;
    audio6.volume = val / 100;
   }

   function applySoundEffects()
   {
   var sounds = [document.getElementById("DropDown2").value, document.getElementById("DropDown3").value];
   for (i = 4;i <= 8; i++)
   {
    sounds.push(document.getElementById("DropDown" + i).value);
   }
   audio = new Audio('http://localhost:3000/music?id=' + sounds[0] + '.wav', type='audio/wav');
   audio.volume = document.getElementById("vol1-control").value/100;
   if (document.getElementById("dropdown2buttoninput").value == "Unmute")
   {
    audio.muted = true;
   }
   else {audio.muted = false;}
   audio.play();
   audio1 = new Audio('http://localhost:3000/music?id=' + sounds[1] + '.wav', type='audio/wav');
   audio1.volume = document.getElementById("vol1-control").value/100;
   if (document.getElementById("dropdown3buttoninput").value == "Unmute")
   {
    audio1.muted = true;
   }
   else {audio1.muted = false;}
   audio1.play();
   audio2 = new Audio('http://localhost:3000/music?id=' + sounds[2] + '.wav', type='audio/wav');
   audio2.volume = document.getElementById("vol1-control").value/100;
   if (document.getElementById("dropdown4buttoninput").value == "Unmute")
   {
    audio2.muted = true;
   }
   else {audio2.muted = false;}
   audio2.play();
   audio3 = new Audio('http://localhost:3000/music?id=' + sounds[3] + '.wav', type='audio/wav');
   audio3.volume = document.getElementById("vol1-control").value/100;
   if (document.getElementById("dropdown5buttoninput").value == "Unmute")
   {
    audio3.muted = true;
   }
   else {audio3.muted = false;}
   audio3.play();
   audio4 = new Audio('http://localhost:3000/music?id=' + sounds[4] + '.wav', type='audio/wav');
   audio4.volume = document.getElementById("vol1-control").value/100;
   if (document.getElementById("dropdown6buttoninput").value == "Unmute")
   {
    audio4.muted = true;
   }
   else {audio4.muted = false;}
   audio4.play();
   audio5 = new Audio('http://localhost:3000/music?id=' + sounds[5] + '.wav', type='audio/wav');
   audio5.volume = document.getElementById("vol1-control").value/100;
   if (document.getElementById("dropdown7buttoninput").value == "Unmute")
   {
    audio5.muted = true;
   }
   else {audio5.muted = false;}
   audio5.play();
   audio6 = new Audio('http://localhost:3000/music?id=' + sounds[6] + '.wav', type='audio/wav');
   audio6.volume = document.getElementById("vol1-control").value/100;
   if (document.getElementById("dropdown8buttoninput").value == "Unmute")
   {
    audio6.muted = true;
   }
   else {audio6.muted = false;}
   audio6.play(); 
  
   setTimeout(function(){document.getElementById("imgClickAndChange").src = "http://localhost:3000/images?id=play.jpg";}, 1000);

   }

   function mutedropdown2()
   {
    var button = document.getElementById("dropdown2buttoninput");
    if(button.value == "Mute")
    {
     button.value = "Unmute";
    }
    else if(button.value == "Unmute")
    {
     button.value = "Mute";
    } 
   }

   function mutedropdown3()
   {
    var button = document.getElementById("dropdown3buttoninput");
    if(button.value == "Mute")
    {
     button.value = "Unmute";
    }
    else if(button.value == "Unmute")
    {
     button.value = "Mute";
    } 
   }
   function mutedropdown4()
   {
    var button = document.getElementById("dropdown4buttoninput");
    if(button.value == "Mute")
    {
     button.value = "Unmute";
    }
    else if(button.value == "Unmute")
    {
     button.value = "Mute";
    } 
   }
   function mutedropdown5()
   {
    var button = document.getElementById("dropdown5buttoninput");
    if(button.value == "Mute")
    {
     button.value = "Unmute";
    }
    else if(button.value == "Unmute")
    {
     button.value = "Mute";
    } 
   }
   function mutedropdown6()
   {
    var button = document.getElementById("dropdown6buttoninput");
    if(button.value == "Mute")
    {
     button.value = "Unmute";
    }
    else if(button.value == "Unmute")
    {
     button.value = "Mute";
    } 
   }
   function mutedropdown7()
   {
    var button = document.getElementById("dropdown7buttoninput");
    if(button.value == "Mute")
    {
     button.value = "Unmute";
    }
    else if(button.value == "Unmute")
    {
     button.value = "Mute";
    } 
   }
   function mutedropdown8()
   {
    var button = document.getElementById("dropdown8buttoninput");
    if(button.value == "Mute")
    {
     button.value = "Unmute";
    }
    else if(button.value == "Unmute")
    {
     button.value = "Mute";
    } 
   }