extends layout

block content
  style.
   body
   {
    background-color:#FFE4B5;
   }
   button
   {
   	color:white;
   }
   p
   {
    font-size: 16px;
   }
  h1(style="text-align:center") Soundtracks Support
  link(href='views/css/styles.css', rel='stylesheet')
  script(src='//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/2.0.6/wavesurfer.min.js')

  p &nbsp In this session you will be introduced to the "Soundtracks" activities!

  h2(style="text-align:center;") Session learning objectives:
  p &nbsp The activities in this session will give you the opportunity to:

  ul 
   li explore how the emotive characteristics of music affect your interpretation of film 
   li develop your sense of timing by creating a Foley track for a film clip through the Soundtracks - Sound effects app
  h2(style="text-align:center;") About Soundtracks:
  p &nbsp Some cochlear implant users have reported to us that they often find the background music in television programmes and films distracting, and that they prefer watching 
  p &nbsp television with subtitles on and the sound turned off.
  p &nbsp SoundTrack gives you control over what music accompanies short video clips to help you explore how music can change the emotion, drama, sense of time or setting, or mood 
  p &nbsp of films.
  p 
   b &nbsp Soundtracks - Sound Effects: 
  p &nbsp A Foley track  is an audio track of everyday sounds (e.g. the sounds of footsteps, squeaky doors and horse hooves) that is added to a film after the film has been shot.
  p &nbsp When you open the SoundTrack app select the "Sound Effects" soundtrack type and watch and listen to the New York Subway Step film clip with the sound effects that 
  p &nbsp have been added as a fun Foley track example.
  p &nbsp Then select the Spider film clip and have a go at creating your own Foley track. Try changing the sound effects that go with each foot step and use the vertical orange bars to 
  p &nbsp alter the timing of each sound.
  h2(style="text-align:center;") 1) Soundtracks Activities:

  p &nbsp When you first open the activities, start by:

  ul
   li comparing theme tunes played by different instruments – which do you find clearer?
   li exploring the different visual cues available – which cues are most useful?
  button(onclick="location.href='http://localhost:3000/activities/soundtracks'", type='button' style="position:relative;left:430;") Soundtracks 
  button(onclick="location.href='http://localhost:3000/activities/soundtracksfoley'", type='button' style="position:relative;left:550;") Soundtracks - Sound Effects

  h2(style="text-align:center;") 2) Test yourself - Instrument Recognition Test:
  p &nbsp Finally, have a go at the instrument recognition test below. Don't worry if you find this quite tricky, as you will almost certainly improve over the course of the IMAP! 


  button(onclick="location.href='http://localhost:3000/selftests/instrumentrecognitiontestsoundtracks'", type='button' style="position:relative;left:480;") Instrument Recognition test - Soundtracks
  br
  br
  br
  br



